[client]
port = 3306
socket = /usr/local/services/mysql/var/mysql.sock

[mysqld]
bind-address = 127.0.0.1
port = 3306
socket = /usr/local/services/mysql/var/mysql.sock
pid-file = /usr/local/services/mysql/var/mysql.pid
character-set-server = utf8
basedir = /usr/local/services/mysql
datadir = /usr/local/services/mysql/var

skip-external-locking
skip-name-resolve

max_connections = 10000
max_user_connections = 10000
max_connect_errors = 10000
wait_timeout = 28800
interactive_timeout = 28800
table_open_cache = 512
max_allowed_packet = 2M
sort_buffer_size = 2M
join_buffer_size = 2M
thread_cache_size = 8
thread_concurrency = 8
query_cache_size = 32M
default-storage-engine = InnoDB

#sql_mode = "STRICT_ALL_TABLES,NO_AUTO_CREATE_USER"
server-id = 1
binlog-do-db = vanchu
binlog-ignore-db = mysql,information_schema
replicate-do-db = vanchu
replicate-ignore-db=mysql,information_schema
relay-log = /data/mysql/relaylog/mysql-relay-bin
relay-log-index = /data/mysql/relaylog/mysql-relay-bin
relay-log-info-file = /data/mysql/relaylog/mysql-relay-bin
log-slave-updates
sync_binlog = 1
auto_increment_offset = 1
auto_increment_increment = 2
slave-skip-errors = all

log-short-format
log-error=/usr/local/services/mysql/var/mysql.err
slow_query_log
long_query_time = 2
slow_query_log_file=/usr/local/services/mysql/var/mysql-slow.log

log-bin = /data/mysql/binlog/mysql-bin
binlog_format = MIXED
expire_logs_days = 4

#master-host = 127.0.0.1
#master-port = 3306
#master-user = slave
#master-password = 123456
replicate-ignore-db = mysql
replicate-ignore-db = test
replicate-ignore-db = information_schema
relay-log = /data/mysql/relaylog/mysql-relay-bin
slave-compressed-protocol = 1

# INNODB Specific options
innodb_data_home_dir = /usr/local/services/mysql/var
innodb_log_group_home_dir = /usr/local/services/mysql/var
innodb_additional_mem_pool_size = 10M
innodb_buffer_pool_size = 2048M
innodb_data_file_path = ibdata1:100M:autoextend
innodb_file_io_threads = 4
innodb_thread_concurrency = 8
innodb_flush_log_at_trx_commit = 0
innodb_flush_method = O_DIRECT
innodb_log_buffer_size = 8M
innodb_log_file_size = 256M
innodb_log_files_in_group = 3
innodb_max_dirty_pages_pct = 90
innodb_lock_wait_timeout = 50

# MyISAM Specific options
key_buffer_size = 384M
read_buffer_size = 2M
read_rnd_buffer_size = 8M
myisam_sort_buffer_size = 64M
myisam_max_sort_file_size = 1G
myisam_repair_threads = 1
myisam_recover

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
default-character-set = utf8
no-auto-rehash

[myisamchk]
key_buffer_size = 256M
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
